*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
}

.app {
  width: 80vw;
  margin: 1rem auto;
  padding: auto;
  background-color: rgba(211, 211, 211, 0.606);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 1rem
}

label {
  font-weight: 700;
  text-align: left;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

input, button, textarea {
  width: 25rem;
  border-radius: .25rem;

}

input {
  height: 2rem;
}

textarea {
  padding: 1rem;
}

button {
  height: 3rem;
  margin: 2rem 0;
  color: white;
  background-color: black;
  border-radius: .5rem;
  text-transform: ease-in-out .3s;
}

button:hover {
  cursor: pointer;
  background-color: #131313;
  
}